/* ScoreBoard.css */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.scoreboard-container {
  position: absolute;
  top: 320px; /* Ajusta la distancia desde la parte superior según sea necesario */
  right: 50px; /* Ajusta la distancia desde el borde derecho según sea necesario */
  text-align: right;
  z-index: 1;
}

.scoreboard {
  background-color: rgba(0, 0, 0, 0.8); /* Fondo semi-transparente negro */
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Sombra blanca */
  font-family: 'Press Start 2P', cursive; /* Fuente estilo retro */
}

.scoreboard p {
  margin: 5px 0;
  color: #fff; /* Texto blanco */
  font-size: 16px;
}

.player-name {
  font-size: 18px;
  font-weight: bold;
}

.score {
  font-size: 16px;
}

.high-score {
  font-size: 16px;
  font-style: italic;
}